--extra-index-url https://test.pypi.org/simple/
Flask_SocketIO==2.9.6
Flask==0.12.2
aepp_sdk==0.1.2
psycopg2-binary==2.7.4
eventlet==0.22.1
requests==2.18.4
websocket-client==0.46.0
ecdsa==0.13
pycrypto==2.6.1
base58==0.2.5
rlp==0.6.0